a{
    color: red;
    font-size: 24px;
    text-decoration: underline;
    font-family: "Times New Roman", serif;
}
#text{
    color: green;
    font-size: 70px;
}
#comment{
    color: grey;
    font-size: 35px;
}